In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df_2021 = pd.read_csv("world-happiness-report-2021.csv")
df_history = pd.read_csv("world-happiness-report.csv")

In [5]:
df_2021

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [6]:
df_history

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [7]:
df_2021.shape

(149, 20)

In [8]:
df_history.shape

(1949, 11)

In [9]:
df_history.head(1)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258

In [10]:
df_2021.head(1)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.78,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253

In [11]:
df_history.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [12]:
history_df = df_history[['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()

In [16]:
history_df

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776
...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789

In [14]:
history_df.shape

(1949, 9)

In [15]:
df_2021

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [17]:
df_2021.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [18]:
df1_2021 = df_2021[['Country name', 'Regional indicator', 'Ladder score','Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity','Perceptions of corruption']]

In [19]:
df1_2021.head(1)

,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186

In [22]:
history_df.head(1)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882

In [23]:
df1_2021.rename(columns={"Ladder score":"Life Ladder","Logged GDP per capita":"Log GDP per capita","Healthy life expectancy":"Healthy life expectancy at birth"}, inplace=True)

C:\Users\ContraVolta\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [24]:
df1_2021.head(1)

,Country name,Regional indicator,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186

In [25]:
history_df.head(1)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882

In [26]:
df1_2021["year"]=2021

<ipython-input-26-8e1545597b7d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_2021["year"]=2021

In [30]:
df1_2021.sample(5)

,Country name,Regional indicator,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,year
126,Jordan,Middle East and North Africa,4.395,9.182,0.767,67.000,0.755,-0.167,0.705,2021
23,Taiwan Province of China,East Asia,6.584,10.871,0.898,69.600,0.784,-0.070,0.721,2021
34,Brazil,Latin America and Caribbean,6.330,9.577,0.882,66.601,0.804,-0.071,0.756,2021
77,Tajikistan,Commonwealth of Independent States,5.466,8.091,0.860,64.281,0.832,-0.056,0.553,2021
64,Moldova,Commonwealth of Independent States,5.766,9.454,0.857,65.699,0.822,-0.079,0.918,2021

In [29]:
history_df.head(2)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882
1,Afghanistan,2009,4.402,7.54,0.552,51.2,0.679,0.190,0.850

In [ ]:
history_df["Regional indicator"]=df1_2021["Regional indicator"]

In [32]:
df1_2021["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [41]:
df_sub_saharan = list(df1_2021[df1_2021["Regional indicator"] == "Sub-Saharan Africa"]["Country name"])

In [42]:
df_west = list(df1_2021[df1_2021["Regional indicator"] == "Western Europe"]["Country name"])

In [44]:
df_middle_east=df1_2021[df1_2021['Regional indicator']=='Middle East and North Africa']

In [45]:
df_central=df1_2021[df1_2021['Regional indicator']=='Central and Eastern Europe']

In [46]:
df_commonwealth=df1_2021[df1_2021['Regional indicator']=='Commonwealth of Independent States']

In [47]:
df_Southeast=df1_2021[df1_2021['Regional indicator']=='Southeast Asia']

In [48]:
df_South=df1_2021[df1_2021['Regional indicator']=='South Asia']

In [49]:
df_East=df1_2021[df1_2021['Regional indicator']=='East Asia']

In [50]:
df_north = df1_2021[df1_2021['Regional indicator']=='North America and ANZ']

In [43]:
df_latin = df1_2021[df1_2021["Regional indicator"] == "Latin America and Caribbean"]
df_latin["Country name"].to_list()

['Costa Rica',
 'Guatemala',
 'Uruguay',
 'Brazil',
 'Mexico',
 'Jamaica',
 'Panama',
 'Chile',
 'El Salvador',
 'Colombia',
 'Nicaragua',
 'Argentina',
 'Honduras',
 'Peru',
 'Ecuador',
 'Bolivia',
 'Paraguay',
 'Dominican Republic',
 'Venezuela',
 'Haiti']

In [52]:
df1_2021["Regional indicator"].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Central and Eastern Europe            17
Middle East and North Africa          17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [56]:
def region(country):
    if country in ['Mauritius','Congo (Brazzaville)','Ivory Coast','Cameroon','Senegal','Ghana','Niger','Gambia','Benin','Guinea','South Africa','Gabon','Burkina Faso','Mozambique','Nigeria','Mali','Uganda','Liberia','Kenya','Namibia','Chad','Swaziland','Comoros','Ethiopia','Mauritania','Madagascar','Togo','Zambia', 'Sierra Leone','Burundi','Tanzania','Malawi','Lesotho','Botswana','Rwanda','Zimbabwe']:
        return 'Sub-Saharan Africa'
    elif country in df_west:
        return 'Western Europe'
    elif country in ['Costa Rica','Guatemala','Uruguay','Brazil','Mexico','Jamaica','Panama','Chile','El Salvador','Colombia','Nicaragua','Argentina','Honduras','Peru','Ecuador','Bolivia','Paraguay','Dominican Republic','Venezuela','Haiti']:
        return 'Latin America and Caribbean'
    elif country in ['Israel','Bahrain','United Arab Emirates','Saudi Arabia','Kuwait','Libya','Turkey','Morocco','Algeria','Iraq','Iran','Tunisia','Lebanon','Palestinian Territories','Jordan','Egypt','Yemen']:
        return 'Middle East and North Africa'
    elif country in ['Czech Republic','Slovenia','Kosovo','Slovakia','Lithuania','Estonia','Poland','Romania','Serbia','Latvia','Hungary','Croatia','Bosnia and Herzegovina','Montenegro', 'Bulgaria','Albania','North Macedonia']:
        return 'Central and Eastern Europe'
    elif country in ['Uzbekistan','Kazakhstan','Moldova','Kyrgyzstan','Belarus','Russia','Tajikistan','Armenia','Azerbaijan','Turkmenistan','Georgia','Ukraine']:
        return 'Commonwealth of Independent States'
    elif country in ['Singapore','Thailand','Philippines','Vietnam','Malaysia','Indonesia','Laos','Cambodia','Myanmar']:
        return 'Southeast Asia'
    elif country in ['Nepal','Maldives','Bangladesh','Pakistan','Sri Lanka','India','Afghanistan']:
        return 'South Asia'
    elif country in ['Taiwan Province of China','Japan','South Korea','Mongolia','Hong Kong S.A.R. of China','China']:
        return 'East Asia'
    elif country in ['New Zealand', 'Australia', 'Canada', 'United States']:
        return 'North America and ANZ'

In [54]:
history_df["Regional indicator"] = history_df["Country name"].apply(region)

In [55]:
history_df

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Regional indicator
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,South Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,South Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,South Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,South Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,South Asia
...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,Sub-Saharan Africa
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,Sub-Saharan Africa
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,Sub-Saharan Africa
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,Sub-Saharan Africa
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,Sub-Saharan Africa

In [57]:
df1_2021

,Country name,Regional indicator,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186,2021
1,Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179,2021
2,Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292,2021
3,Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673,2021
4,Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338,2021
...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,2021
145,Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,2021
146,Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167,2021
147,Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,2021
148,Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,2021

In [62]:
df_son = pd.concat([history_df, df1_2021], ignore_index=True)

In [63]:
df_son

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Regional indicator
0,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,South Asia
1,Afghanistan,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,South Asia
2,Afghanistan,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,South Asia
3,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,South Asia
4,Afghanistan,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,South Asia
...,...,...,...,...,...,...,...,...,...,...
2093,Lesotho,2021,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,Sub-Saharan Africa
2094,Botswana,2021,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,Sub-Saharan Africa
2095,Rwanda,2021,3.415,7.676,0.552,61.400,0.897,0.061,0.167,Sub-Saharan Africa
2096,Zimbabwe,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,Sub-Saharan Africa
2097,Afghanistan,2021,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,South Asia

In [67]:
df_son[df_son["Regional indicator"] == "South Asia"].groupby("Country name")[["Life Ladder","Freedom to make life choices","Perceptions of corruption"]].describe()

             Life Ladder                                                      \
                   count      mean       std    min      25%    50%      75%
Country name
Afghanistan         13.0  3.512231  0.769187  2.375  2.69400  3.724  3.98300
Bangladesh          16.0  4.771375  0.292925  4.310  4.59425  4.692  5.03175
India               16.0  4.432313  0.551463  3.249  4.14575  4.426  4.78725
Maldives             2.0  5.198000  0.000000  5.198  5.19800  5.198  5.19800
Nepal               15.0  4.728133  0.417833  3.809  4.50400  4.748  4.94600
Pakistan            15.0  5.221933  0.433016  4.414  5.03300  5.225  5.51050
Sri Lanka           14.0  4.309643  0.150113  3.977  4.21600  4.328  4.40250

                    Freedom to make life choices            ...           \
                max                        count      mean  ...      75%
Country name                                                ...
Afghanistan   4.758                         13.0  0.507692  ...  0.57800
Bangladesh    5.280                         16.0  0.758750  ...  0.87550
India         5.348                         16.0  0.797813  ...  0.87850
Maldives      5.198                          2.0  0.854500  ...  0.85475
Nepal         5.449                         15.0  0.682733  ...  0.77600
Pakistan      5.831                         15.0  0.531000  ...  0.65950
Sri Lanka     4.612                         14.0  0.814929  ...  0.83925

                    Perceptions of corruption                             \
                max                     count      mean       std    min
Country name
Afghanistan   0.718                      13.0  0.849538  0.078708  0.707
Bangladesh    0.902                      16.0  0.738938  0.052984  0.635
India         0.906                      16.0  0.825063  0.050513  0.752
Maldives      0.855                       1.0  0.825000       NaN  0.825
Nepal         0.845                      15.0  0.845133  0.076942  0.712
Pakistan      0.773                      15.0  0.797733  0.058349  0.677
Sri Lanka     0.902                      14.0  0.821857  0.051300  0.690


                  25%    50%      75%    max
Country name
Afghanistan   0.79300  0.871  0.92400  0.954
Bangladesh    0.69775  0.750  0.77850  0.806
India         0.77900  0.831  0.86225  0.908
Maldives      0.82500  0.825  0.82500  0.825
Nepal         0.79350  0.877  0.89850  0.950
Pakistan      0.78150  0.794  0.84600  0.874
Sri Lanka     0.79900  0.843  0.85825  0.863

[7 rows x 24 columns]

In [72]:
df_son[df_son["Country name"]=="Turkey"].sort_values(by="Social support", ascending=False)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Regional indicator
1763,Turkey,2016,5.326,10.181,0.880,66.000,0.644,-0.065,0.764,Middle East and North Africa
1764,Turkey,2017,5.607,10.238,0.876,66.400,0.644,-0.237,0.671,Middle East and North Africa
1761,Turkey,2014,5.580,10.124,0.863,65.360,0.649,-0.024,0.764,Middle East and North Africa
1767,Turkey,2020,4.862,10.219,0.857,67.600,0.510,-0.111,0.774,Middle East and North Africa
1762,Turkey,2015,5.514,10.166,0.851,65.600,0.653,-0.016,0.806,Middle East and North Africa
1765,Turkey,2018,5.186,10.251,0.847,66.800,0.529,-0.176,0.805,Middle East and North Africa
2052,Turkey,2021,4.948,10.240,0.822,67.199,0.576,-0.139,0.776,Middle East and North Africa
1753,Turkey,2005,4.719,9.809,0.820,62.600,0.623,NaN,0.877,Middle East and North Africa
1757,Turkey,2010,5.490,9.906,0.795,64.400,0.515,-0.187,0.811,Middle East and North Africa
1760,Turkey,2013,4.888,10.091,0.795,65.120,0.541,-0.229,0.698,Middle East and North Africa
1754,Turkey,2007,5.623,9.903,0.792,63.320,0.459,-0.178,0.800,Middle East and North Africa
1766,Turkey,2019,4.872,10.246,0.792,67.200,0.631,-0.136,0.760,Middle East and North Africa
1756,Turkey,2009,5.213,9.838,0.755,64.040,0.456,-0.227,0.853,Middle East and North Africa
1759,Turkey,2012,5.309,10.026,0.739,64.880,0.471,-0.216,0.702,Middle East and North Africa
1758,Turkey,2011,5.272,9.996,0.692,64.640,0.446,-0.242,0.649,Middle East and North Africa
1755,Turkey,2008,5.118,9.899,0.645,63.680,0.415,-0.189,0.785,Middle East and North Africa

In [74]:
df_son.describe()

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
count,2098.000000,2098.000000,2062.000000,2085.000000,2043.000000,2066.000000,2009.000000,1988.000000
mean,2013.768827,5.471402,9.373060,0.812709,63.478503,0.746094,-0.001027,0.745650
std,4.486449,1.112676,1.154247,0.118203,7.468780,0.140766,0.161400,0.186261
min,2005.000000,2.375000,6.635000,0.290000,32.300000,0.258000,-0.335000,0.035000
25%,2010.000000,4.652250,8.470500,0.750000,58.704500,0.652000,-0.115000,0.688750
50%,2014.000000,5.392000,9.462000,0.835000,65.280000,0.767000,-0.027000,0.801000
75%,2018.000000,6.282500,10.360750,0.905000,68.660000,0.859000,0.089000,0.869000
max,2021.000000,8.019000,11.648000,0.987000,77.100000,0.985000,0.698000,0.983000

In [76]:
def trust(corrupt):
    if corrupt >= 0.869000:
        return 'Low trust in institutions'
    elif corrupt > 0.801000 and corrupt < 0.869000:
        return 'Lower than normal level trust in institutions'
    elif corrupt > 0.688750 and corrupt <= 0.801000:
        return 'About the normal level trust in institutions'
    else:
        return 'High level trust in institutions'

In [77]:
df_son["Trust in institutions"] = df_son["Perceptions of corruption"].apply(trust)

In [80]:
df_son[df_son["Country name"] == "Pakistan"][["Country name","year","Perceptions of corruption","Trust in institutions"]]

,Country name,year,Perceptions of corruption,Trust in institutions
1311,Pakistan,2005,0.844,Lower than normal level trust in institutions
1312,Pakistan,2007,0.794,About the normal level trust in institutions
1313,Pakistan,2008,0.848,Lower than normal level trust in institutions
1314,Pakistan,2009,0.874,Low trust in institutions
1315,Pakistan,2010,0.852,Lower than normal level trust in institutions
1316,Pakistan,2011,0.857,Lower than normal level trust in institutions
1317,Pakistan,2012,0.842,Lower than normal level trust in institutions
1318,Pakistan,2013,0.792,About the normal level trust in institutions
1319,Pakistan,2014,0.677,High level trust in institutions
1320,Pakistan,2015,0.717,About the normal level trust in institutions
1321,Pakistan,2016,0.793,About the normal level trust in institutions
1322,Pakistan,2017,0.714,About the normal level trust in institutions
1323,Pakistan,2018,0.799,About the normal level trust in institutions
1324,Pakistan,2019,0.776,About the normal level trust in institutions
2053,Pakistan,2021,0.787,About the normal level trust in institutions